.main {
  display: flex;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    270deg,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f
  );
  background-size: 1000% 1000%;
  animation: waveBG 30s ease infinite;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
}
.containerId {
  display: flex;
  width: 50%;
  height: auto;
}
.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectcharacter {
  width: 70%;
}

.quit {
  position: absolute;
  top: 2vh;
  left: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quit button {
  display: flex;
  gap: 0.5rem;
  padding: 0.6rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: #fb273a;

  color: #ffffff;
  font-weight: bold;

  border: none;

  cursor: pointer;
}

.quit h3 {
  margin-top: -0.25rem;
}

.quit button:hover {
  filter: brightness(90%);
}
