.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.characterimg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;

  width: 100%;
  padding: 1rem 0rem;
  height: 100%;
}

.characterimg img {
  width: 50%;

  background-color: transparent;

  height: auto;
}
.characterselect {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}
.characterselect img {
  width: 90%;
  height: 100%;
  background-color: transparent;
  height: auto;
}
.characterselect button {
  width: 100%;
  height: 100%;
  min-width: 100%;

  border: 1px solid #fb273a;
  padding: 1rem;
}

.characterselect button:hover img {
  filter: brightness(80%);
}
.input {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.input input {
  text-align: center;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: #fb273a;
  color: white;

  border: 1px solid #fb273a;
  border-radius: 0.5rem;
  text-decoration: none;
}
.input input::placeholder {
  color: rgba(255, 255, 255, 0.432);
}

.start {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.start button {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 0.2rem;
  background-color: #fb273a;
  color: #ffffff;
  border: 1px solid #fb273a;
  font-weight: bold;
  cursor: pointer;
}

.start button:hover {
  filter: brightness(90%);
}

.start button:disabled {
  background-color: #fb2739a4;
  border: none;
  cursor: auto;
}
.start button:disabled:hover {
  filter: brightness(100%);
}

.active {
  background-color: #fb273a;
}
.characterimg p {
  font-weight: bold;
  margin-top: 0.5rem;
  color: white;
  font-size: 1.5rem;
}
.characterselect p {
  font-weight: bold;
  margin-top: 0.5rem;
  color: white;
}

.listRoom {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  height: auto;
  flex: 1;
}

.roomscontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  height: 50vh;
  overflow-y: auto;

  align-items: center;
}

.roomcard {
  background-color: #fb2739a4;
  border: none;

  color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 95%;

  height: auto;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.roomcard:hover {
  transform: scale(1.05);
  background-color: #fb273a;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.selectRoom {
  transform: scale(1.05);
  background-color: #fb273a;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainCard {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.buttonRun {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 1200px) {
  .mainCard > * {
    flex: 0 0 100%; /* um card por linha */
  }
}
